<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <script async src="https://cdn.splitbee.io/sb.js"></script>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <span>MICROSERVICES x AWS SERVERLESS x NODEJS</span>
      <!-- {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %} -->
      <!-- {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %} -->
    </header>

    <main id="content" class="main-content" role="main">
      <article>
        <h1 class="project-name" style="color: black; margin-bottom: 0;">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="project-tagline" style="color: #3a3a3a; margin-top: 0; font-size: 1.1rem;">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

        {{ content }}
      </article>
      <div style="vertical-align: middle; text-align: right; margin-top: 50px;">
        <span><svg width="29" height="29" style="vertical-align: middle;/* padding-bottom: 5px; */" stroke="#7d7e80"><path d="M21.27 20.058c1.89-1.826 2.754-4.17 2.754-6.674C24.024 8.21 19.67 4 14.1 4 8.53 4 4 8.21 4 13.384c0 5.175 4.53 9.385 10.1 9.385 1.007 0 2-.14 2.95-.41.285.25.592.49.918.7 1.306.87 2.716 1.31 4.19 1.31.276-.01.494-.14.6-.36a.625.625 0 0 0-.052-.65c-.61-.84-1.042-1.71-1.282-2.58a5.417 5.417 0 0 1-.154-.75zm-3.85 1.324l-.083-.28-.388.12a9.72 9.72 0 0 1-2.85.424c-4.96 0-8.99-3.706-8.99-8.262 0-4.556 4.03-8.263 8.99-8.263 4.95 0 8.77 3.71 8.77 8.27 0 2.25-.75 4.35-2.5 5.92l-.24.21v.32c0 .07 0 .19.02.37.03.29.1.6.19.92.19.7.49 1.4.89 2.08-.93-.14-1.83-.49-2.67-1.06-.34-.22-.88-.48-1.16-.74z"></path></svg></span>
        <a href="mailto:earouhuang@gmail.com?subject=[Comment] {{ page.title }}" style="color: #7d7e80; font-size: 14px;">Send Me Comments</a>
      </div>
      <footer class="site-footer">
        <li class="site-footer-owner">
          <div class="owner-avatar">
            <a class="" href="https://www.linkedin.com/in/guan-wei-huang-24396580" title="Go to the profile of arou Huang" aria-label="Go to the profile of arou Huang">
              <img src="https://earou.dev/assets/avatar.jpg" class="avatar-image" alt="Go to the profile of Earou Huang">
            </a>
          </div>
          <div class="owner-profile">
            <span class="site-footer-credits" >WRITTEN BY</span>
            <h3><a href="https://www.linkedin.com/in/guan-wei-huang-24396580" title="Go to the profile of Earou Huang" aria-label="Go to the profile of Earou Huang">Earou Huang</a></h3>
            <p>A software developer and snowboarder. Focus on building production-ready web services. Work with AWS, GCP and Kubernetes. Life is short, let's keep on coding.</p>
          </div>
        </li>
        <!-- {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span> -->
      </footer>
    </main>
  </body>
</html>
